<div class="container-full my-5">
    <!-- Footer -->
    <footer class="text-center text-lg-start text-dark bg-gray">
        <!-- Section: Social media -->
        <div class="container-fluid" style="background-color: #EE702E">
            <div class="container">
                <section class=" d-flex justify-content-between p-3 text-white">
                    <div>
                        <span>Connect with us on</span>
                        <a href="https://github.com/mpbunch/E14ACNND3" target="_new" class="text-white me-4">
                            <i class="fab fa-github"></i> Github
                        </a>
                    </div>
                </section>
            </div>
        </div>

        <!-- Section: Links  -->
        <section class="">
            <div class="container text-center text-md-start mt-5">
                <div class="row mt-3">
                    <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
                        <h6 class="text-uppercase fw-bold">GazeIntent</h6>
                        <hr class="mb-4 mt-0 d-inline-block mx-auto"
                            style="width: 60px; background-color: #7c4dff; height: 2px" />
                    </div>
                    <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4 ts-14">
                        <h6 class="text-uppercase fw-bold">Packages Used</h6>
                        <hr class="mb-4 mt-0 d-inline-block mx-auto"
                            style="width: 60px; background-color: #7c4dff; height: 2px" />
                        <p>
                            <a href="https://webgazer.cs.brown.edu/" target="_new" class="text-dark">WebGazer</a>
                        </p>
                        <p>
                            <a href="https://flask.palletsprojects.com/en/2.0.x/" target="_new"
                                class="text-dark">Flask</a>
                        </p>
                        <p>
                            <a href="https://heroku.com/" target="_new" class="text-dark">Heroku</a>
                        </p>
                        <p>
                            <a href="https://getbootstrap.com/" target="_new" class="text-dark">Bootstrap</a>
                        </p>
                    </div>

                    <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4 ts-14">

                        <h6 class="text-uppercase fw-bold">Further Reading</h6>
                        <hr class="mb-4 mt-0 d-inline-block mx-auto"
                            style="width: 60px; background-color: #7c4dff; height: 2px" />
                        <p>
                            <a href="https://github.com/cvlab-uob/Awesome-Gaze-Estimation#datasets" target="_new"
                                class="text-dark">Awesome Gaze</a>
                        </p>
                        <p>
                            <a href="https://github.com/MemoonaTahira/CrowdFix" target="_new"
                                class="text-dark">CrowdFix</a>
                        </p>
                        <p>
                            <a href="https://github.com/zihaoxu/cnn-eye-tracker" target="_new" class="text-dark">Eye
                                Tracker</a>
                        </p>
                        <p>
                            <a href="https://www.kaggle.com/selfishgene/youtube-faces-with-facial-keypoints"
                                target="_new" class="text-dark">Facial Keypoints</a>
                        </p>
                    </div>

                    <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4 ts-14">

                        <h6 class="text-uppercase fw-bold">Contact</h6>
                        <hr class="mb-4 mt-0 d-inline-block mx-auto"
                            style="width: 60px; background-color: #7c4dff; height: 2px" />
                        <p><i class="fas fa-envelope mr-3"></i> admin@gazeintent.io</p>
                    </div>
                </div>
            </div>
        </section>
        <!-- Section: Links  -->

        <!-- Copyright -->
        <div class="text-center p-3 bg-gray ts-12 border-top-gray">
            © 2021 Copyright:
            <a class=" text-dark" target="_new" href="https://gazeintent.herokuapp.com/">GazeIntent.herokuapp.com</a>
        </div>
        <!-- Copyright -->
    </footer>
    <!-- Footer -->
</div>
<!-- End of .container -->