.vscode/
bin/
lib/
etc/
share/
__pycache__/
pyvenv.cfg
.DS_Store
app/static/node_modules
app/package-lock.json
app/package.json
app/include
!app/static/node_modules/webgazer/dist/webgazer.min.js
.coverage
fake*
