<div class="row mt-30">
    <div class="col-12 mt-30">
        <div class="grid-container" id="heatmap">
            <div class="grid-item-container">
                <div class="grid-item" id="1">1</div>
            </div>
            <div class="grid-item-container">
                <div class="grid-item" id="2">2</div>
            </div>
            <div class="grid-item-container">
                <div class="grid-item" id="3">3</div>
            </div>
            <div class="grid-item-container">
                <div class="grid-item" id="4">4</div>
            </div>
            <div class="grid-item-container">
                <div class="grid-item" id="5">5</div>
            </div>
            <div class="grid-item-container">
                <div class="grid-item" id="6">6</div>
            </div>
            <div class="grid-item-container">
                <div class="grid-item" id="7">7</div>
            </div>
            <div class="grid-item-container">
                <div class="grid-item" id="8">8</div>
            </div>
            <div class="grid-item-container">
                <div class="grid-item" id="9">9</div>
            </div>
        </div>
    </div>
</div>