@import 'variables';
a.text-white.me-4 {
    text-decoration: none;
}
.padding-15{
    padding:15px;
}
.section{
    padding:30px;
}
.bg-gray{
    background-color:#F8F9FA;
}

.border-top-gray{
    border-top:solid 1px #ddd;
}
.ts-12{
    font-size:12px;
}
.ts-14{
    font-size:14px;
}
.ts-16{
    font-size:16px;
}
li a .fa-user{
    position:relative;
    top:-1px;
}
.text-muted{
    opacity:.4;
}
.btn-outline{
    background-color: inherit;
    border: solid 2px;
}
.md-height{
    height:100px;
}
.mt-10{
    margin-top:10px;
}
.mt-15{
    margin-top:15px;
}
.mt-20{
    margin-top:20px;
}
.mt-25{
    margin-top:25px;
}
.mt-30{
    margin-top:30px;
}
.form-error{
    color:$red;
}
.bd-b {
    border-bottom:solid 1px #999;
  }
.footer{
    margin-bottom:0 !important;
    padding-bottom:0 !important;
}