  .grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    padding: 10px;
  }

  .grid-item {
    background: rgba(51, 170, 51, 1);
    padding: 18px;
    font-size: 30px;
    text-align: center;
    opacity: 0;
  }
  .grid-item-container {
    font-size: 30px;
    text-align: center;
    padding: 2px;
    border: 1px solid red;
  }
  #test tr,
  #calibration tr,
  #users tr{
    cursor: pointer;

  }
  tbody tr:hover {
    background-color:#ccc;
  }