<!-- Profile Page -->
{% extends 'shared/layout.html' %}

{% block content %}
<div class="container section">
  <div class="row">
    <h3>Profile</h3>
    <!-- gender zip age -->
    <div class="col-md-4 offset-md-4">
      <div class="login-form bg-light mt-4 p-4">
        <!-- <div class="col-xs-12">
          {% if message.type == 1 %}
          <div class="alert alert-success" role="alert">
            {{ message.message }}
          </div>
          {% endif %}
          {% if message.type == 2 %}
          <div class="alert alert-danger" role="alert">
            {{ message.message }}
          </div>
          {% endif %}
        </div> -->
        <form action="/profile" method="POST" class="row g-3">
          <div class="col-12">
            <label>{{ form.gender.label }}</label>
            {{ form.gender(value=user.gender, class="form-control",placeholder="Gender") }}
          </div>
          <div class="col-12">
            <label>{{ form.age.label }}</label>
            {{ form.age(value=user.age, class="form-control",placeholder="age") }}
          </div>
          <div class="col-12">
            <label>{{ form.zipcode.label }}</label>
            {{ form.zipcode(value=user.zipcode, class="form-control",placeholder="zipcode") }}
          </div>
          <div class="col-12">
            <button action="/profile" type="submit" name="submit" value="update" class="btn btn-dark float-end">Update</button>
          </div>
        </form>
        <hr class="mt-4">
      </div>
    </div>
  </div>
</div>

{% endblock %}
