{% extends "shared/layout.html" %}
{% block content %}


    <!-- Bootstrap Icons CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css"
        integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">

    <!-- FontIconPicker CSS -->
    <link rel="stylesheet" type="text/css" href="https://unpkg.com/@fonticonpicker/fonticonpicker@3.1.1/dist/css/base/jquery.fonticonpicker.min.css">

    <!-- FontAwesome CSS -->
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
    integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
    
    <!-- Bootstrap Icons CSS -->
    <link rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.5.0/font/bootstrap-icons.min.css"
    integrity="sha512-xnP2tOaCJnzp2d2IqKFcxuOiVCbuessxM6wuiolT9eeEJCyy0Vhcwa4zQvdrZNVqlqaxXhHqsSV1Ww7T2jSCUQ=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
 
    <!-- Coloris CSS -->
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/gh/mdbassit/Coloris@latest/dist/coloris.min.css">

    <!-- Client test page CSS -->
    <link rel="stylesheet" type="text/css" href="../../static/css/client_test.css" />

<body>

  <!-- Container div for symbol, color and time pickers-->
  <div class="container" id="div-symbol-picker">
    <div class="row justify-content-md-center">
      <!-- Selector column -->
      <div class="col-6" id="col-pickers">
        <div class="row" id="row-symbol-picker">
            <!-- FontIconPicker symbol picker input -->
            Select a Symbol:
            <div id="fip"></div>
        </div>
        <div class="row" id="row-color-picker">
            <!-- Coloris color picker input -->
            Select a Color:
            <div class="picker">
              <br>
              <input type="text" data-coloris />
            </div>
        </div>
      </div>
      <!-- Preview column -->
      <div class="col-4 text-center" id="col-symbol-preview">Preview:</div>
      <div class="col-2 text-center" id="col-symbol-add">
        <button type="button" class="btn btn-success btn-sm" id="btn-symbol">Add Symbol</button>
      </div>
    </div>
  </div>


    <!-- Load scripts after dom load -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
    <script type="text/javascript" charset="utf8" src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <!-- fontIconPicker JS -->
    <script type="text/javascript" src="https://unpkg.com/@fonticonpicker/fonticonpicker/dist/js/jquery.fonticonpicker.min.js"></script>


    <!-- Coloris color picker ------------------>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/gh/mdbassit/Coloris@latest/dist/coloris.min.js"></script>
 
  

    <script>     
      jQuery(document).ready(function($) {
        $('#fip').fontIconPicker({
          source: ["fas fa-asterisk", "fas fa-arrow-left", "fas fa-arrow-up", "fas fa-arrow-right", "fas fa-arrow-down", "far fa-square", "far fa-circle", "far fa-star", "fas fa-square", "fas fa-circle", "fas fa-star"],
          hasSearch: false,
          emptyIcon: false
        })
      });
    </script>

{% endblock %}