{% extends "layout.html" %}
{% block content %}
<style>
  #grid {
    width: 100vw;
    height: 100vh;
  }

  .btn-circle {
    width: 30px;
    height: 30px;
    padding: 6px 0px;
    border-radius: 15px;
    text-align: center;
    font-size: 12px;
    line-height: 1.42857;
  }

  .row {
    /* background-color: rgba(0, 0, 255, .1); */
  }


  #camera {
    width: 350px;
    height: 350px;
  }

  #grid {
    width: 100vw;
  }
</style>

<body>
  Starting the calibration by clicking on the circle.
  <div class="no-gutters container-fluid" id="grid">
    <!-- <div class="h-25 row" style="background-color: rgba(0,0,255,.1)">
      <div class="col-sm d-flex align-items-center justify-content-center">
        <button type="button" class="btn btn-danger btn-circle btn-lg"><i class="bi bi-check-lg"></i>
        </button>
      </div>
      <div class="col-sm">
        cell
      </div>
      <div class="col-sm">
        cell
      </div>
      <div class="col-sm">
        cell
      </div>
    </div>
    <div class="h-25 row">
      <div class="col-sm">
        cell
      </div>
      <div class="col-sm">
        cell
      </div>
      <div class="col-sm">
        cell
      </div>
      <div class="col-sm">
        cell
      </div>
    </div>
    <div class="h-25 row">
      <div class="col-sm">
        cell
      </div>
      <div class="col-sm">
        cell
      </div>
      <div class="col-sm">
        cell
      </div>
      <div class="col-sm">
        cell
      </div>
    </div>
    <div class="h-25 row">
      <div class="col-sm">
        cell
      </div>
      <div class="col-sm">
        cell
      </div>
      <div class="col-sm">
        cell
      </div>
      <div class="col-sm">
        cell
      </div>
    </div> -->
  </div>
  <div id="camera"></div>
  <div id="results">
  </div>
</body>

<script src="https://cdnjs.cloudflare.com/ajax/libs/webcamjs/1.0.26/webcam.min.js"></script>

<script>
  Webcam.set({
    width: 350,
    height: 350,
    image_format: 'jpeg',
    jpeg_quality: 90
  });
  Webcam.attach('#camera');
  // When the page is loaded, create 16 calibration points.
  document.body.onload = createRows;

  // Each time when the circle is clicked, capture the photo (still need to figure out how do we save and process the photo.)
  function take_snapshot() {
    console.log("Taking a picture");
    Webcam.snap(function(data_uri) {
      var div = document.createElement("DIV");
      div.innerHTML =
        '<img src="' + data_uri + '"/>';
      document.getElementById('results').appendChild(div);
    });
  }
  // Create 16 calibrition points and attach ids in sequence
  function createRows() {
    // create 4 rows
    for (var i = 0; i < 4; i++) {
      const row = document.createElement("div");
      row.classList.add('h-25', 'row');
      // create 4 cells for each row
      for (var j = 0; j < 4; j++) {
        const cell = document.createElement("div");
        // add a clickable button which takes photo
        cell.innerHTML =
          '<button type="button" onclick="take_snapshot();" class="btn btn-danger btn-circle btn-lg"><i class="bi bi-check-lg"></i>';
        cell.classList.add('col-sm', 'd-flex', 'align-items-center', 'justify-content-center', 'cell');
        // assign id
        cell.id = 4 * i + j;
        row.appendChild(cell);
      }
      document.getElementById('grid').appendChild(row);
    }
  }

</script>
{% endblock %}
