<!-- Remove the container if you want to extend the Footer to full width. -->
<div class="container-full my-5">
    <!-- Footer -->
    <footer class="text-center text-lg-start text-dark bg-gray">
        <!-- Section: Social media -->
        <div class="container-fluid" style="background-color: #EE702E">
            <div class="container">
                <section class=" d-flex justify-content-between p-3 text-white">
                    <div>
                        <span>Connect with us on</span>
                        <a href="https://github.com/mpbunch/E14ACNND3" class="text-white me-4">
                            <!-- <i class="fab fa-github"></i> -->
                            Github
                        </a>
                    </div>
                </section>
            </div>
        </div>

        <!-- Section: could be rolled back if we do have proper links. -->

        <!-- Section: Links  -->
        <!-- <section class="">
            <div class="container text-center text-md-start mt-5">
                <div class="row mt-3">
                    <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
                        <h6 class="text-uppercase fw-bold">GazeIntent</h6>
                        <hr class="mb-4 mt-0 d-inline-block mx-auto"
                            style="width: 60px; background-color: #7c4dff; height: 2px" />
                    </div>
                    <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4 ts-14">
                        <h6 class="text-uppercase fw-bold">Products</h6>
                        <hr class="mb-4 mt-0 d-inline-block mx-auto"
                            style="width: 60px; background-color: #7c4dff; height: 2px" />
                        <p>
                            <a href="#!" class="text-dark">MDBootstrap</a>
                        </p>
                        <p>
                            <a href="#!" class="text-dark">MDWordPress</a>
                        </p>
                        <p>
                            <a href="#!" class="text-dark">BrandFlow</a>
                        </p>
                        <p>
                            <a href="#!" class="text-dark">Bootstrap Angular</a>
                        </p>
                    </div>

                    <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4 ts-14">

                        <h6 class="text-uppercase fw-bold">Further Reading</h6>
                        <hr class="mb-4 mt-0 d-inline-block mx-auto"
                            style="width: 60px; background-color: #7c4dff; height: 2px" />
                        <p>
                            <a href="https://github.com/cvlab-uob/Awesome-Gaze-Estimation#datasets"
                                class="text-dark">Awesome Gaze</a>
                        </p>
                        <p>
                            <a href="https://github.com/MemoonaTahira/CrowdFix" class="text-dark">CrowdFix</a>
                        </p>
                        <p>
                            <a href="https://github.com/zihaoxu/cnn-eye-tracker" class="text-dark">Eye Tracker</a>
                        </p>
                        <p>
                            <a href="https://www.kaggle.com/selfishgene/youtube-faces-with-facial-keypoints"
                                class="text-dark">Facial Keypoints</a>
                        </p>
                    </div>

                    <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4 ts-14">

                        <h6 class="text-uppercase fw-bold">Contact</h6>
                        <hr class="mb-4 mt-0 d-inline-block mx-auto"
                            style="width: 60px; background-color: #7c4dff; height: 2px" />
                        <p><i class="fas fa-envelope mr-3"></i> admin@gazeintent.io</p>
                    </div>
                </div>
            </div>
        </section> -->
        <!-- Section: Links  -->

        <!-- Copyright -->
        <!-- <div class="text-center p-3 bg-gray ts-12 border-top-gray">
            © 2020 Copyright:
            <a class=" text-dark" href="https://gazeintent.io/">GazeIntent.io</a>
        </div> -->
        <!-- Copyright -->
    </footer>
    <!-- Footer -->
</div>
<!-- End of .container -->
