{% extends "layout.html" %}
{% block content %}
  <script src="https://d3js.org/d3.v5.min.js"></script>
<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/calibration.css')}}" />
<div class="container section">
  <div id="gazeContainer" class="row">
    <div id="fullheight"></div>
    <div id="gazeGrid"></div>
  </div>
</div>
<script src="https://d3js.org/d3.v5.min.js"></script>
<script type="module" src="{{url_for('static', filename='js/stimulus.js')}}"></script>

{% endblock %}